@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="imghome" src="img/logo-inteira.png" />
    <p>Banco de dados do aplicativo react native <a href="https://docs.microsoft.com/aspnet/core">Missing Pet</a>.</p>
</div>
