@model MissingPet.Models.Observacao

@{
    ViewData["Title"] = "Create";
}

<div class="info">
<h1>Cadastrar Observação</h1>

<h4>Observação</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ObservacaoDescricao" class="control-label"></label>
                <input asp-for="ObservacaoDescricao" class="form-control" />
                <span asp-validation-for="ObservacaoDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoLocal" class="control-label"></label>
                <input asp-for="ObservacaoLocal" class="form-control" />
                <span asp-validation-for="ObservacaoLocal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ObservacaoData" class="control-label"></label>
                <input asp-for="ObservacaoData" class="form-control" />
                <span asp-validation-for="ObservacaoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnimalId" class="control-label"></label>
                <select asp-for="AnimalId" class ="form-control" asp-items="ViewBag.AnimalNome"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioNome"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
